img{
    width: 250px;
    height: 200px;
}
.margin-card{
    margin-left: 10%;
    margin-right: 10%;
}
*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.space-card{
    margin: 5%;
}
.space-card a{
    text-decoration-line: none;
    color: black;
    
}
.space-card a:hover{
    color: aliceblue;
}