.containeru{
        width: auto;
        margin:10%;
      }
text{
    font-size: larger;
    text-align: center;
}
.chartBox{
    text-align: center;
    margin-bottom: 20px;
}
h2{
    text-align: center;
    margin-bottom:30px;
}